/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}



body{
  background-color:thistle;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  font-family: 'Abril Fatface', cursive; 
  font-size: x-large;
  text-align: center;
  margin: 20px;
}

h3{
  font-family: 'Abril Fatface', cursive; 
  font-size: x-large;
  text-align: center;
  margin: 20px;
  text-decoration-style: solid;
}

   #Grid {
  margin:auto; 
  border:solid 3px black; 
  border-radius: 15px;
  display:flex;
  align-content:center; 
  justify-content: center;
  flex-wrap:wrap;background-color: lightskyblue;
  height: 600px;
  width: 700px;
  } 

  .square {
   width: 100px;
   height: 100px;
   background: white;
   border-radius: 95px;
  }
  
  #dark-mode,  #resetButton {
    background-color:burlywood;
    height: 40px;
    width: 110px;
    border-radius: 5%;
    margin: 10px;
    font-size: large;
  }


  .dark-mode {
    background-color: rgb(26, 26, 27);
    color: rgb(109, 163, 150);
  }

  .dark-mode #Grid {
    background-color: rgb(12, 3, 20);
  }

  .dark-mode .square {
    background-color: rgb(22, 117, 85);
  }

  .dark-mode #resetButton {
    background-color:black;
    color: white;  
  }

  .dark-mode #dark-mode  {
    background-color: black;
    color: white;   
    content: "Light-Mode";
  }

  #buttons{
    display: flex;
  }
