/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}


body{
  background-color:lavenderblush;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h2 {
  font-family: 'Abril Fatface', cursive; 
  font-size: x-large;
  text-align: center;
  margin: 20px;
}

h3{
  font-family: 'Abril Fatface', cursive; 
  font-size: x-large;
  text-align: center;
  margin: 20px;
}

   #Grid {
  margin:auto; 
  border:solid 3px black; 
  border-radius: 15px;
  display:flex;
  align-content:center; 
  justify-content: center;
  flex-wrap:wrap;background-color: lightskyblue;
  height: 600px;
  width: 700px;
  } 

  .square {
   width: 100px;
   height: 100px;
   background: white;
   border-radius: 95px;
  }
  

  @media only screen and (min-width: 768px) {
    .card{
      width: 325px;
      margin: 30px 15px 0;
    }
  }
